<div class="row" *ngIf="schoolList.length>0">
  <div class="col-md-3" style="cursor:pointer" *ngFor="let school of schoolList">
    <div class="card">
      <img class="card-img-top" style="max-height: 220px;min-height:220px">

      <div class="card-block">
        <h4 class="card-title">
          <a class="btn btn-primary" target="_blank">{{ school.Schoolname }}</a>
        </h4>
        <p class="card-text">
          <h4 class="card-title">
            <a class="btn btn-primary" target="_blank">{{ u.login }}</a>
          </h4>
          <p class="card-text">
            {{ school.Schoolname }}
        </p>
        <!-- <a [routerLink]="['/', u.login]" class="btn btn-primary">Does Nothing</a> -->
      </div>
    </div>
  </div>
</div>