<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/SchoolInfo" routerLinkActive="active">All Schools</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/newschool" routerLinkActive="active">Add School</a>
    </li>
  <li class="nav-item dropdown" appDropdown>
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="/SchoolInfo" routerLinkActive="active">All Schools</a>
      <a class="dropdown-item" routerLink="/newschool" routerLinkActive="active">Add School</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>