<!-- <button type="button" (click)="goBack()" class="btn">
  <span class="glyphicons glyphicons-step-backward">Back</span>
</button> -->
<div *ngIf="f.pending">Loading..</div>
<h2>Edit School</h2>
<div class="row">
  <div class="col-md-8">
      <form (ngSubmit)="SubmitForm(f)" #f="ngForm">
          <div class="form-group">
            <label for="SchoolName">School Name</label>
            <input
              type="text"
              name="SchoolName"
              class="form-control"
              [(ngModel)]="editableSchool.SchoolName"
              required>
          </div>
          <div class="form-group">
            <label for="logoURL">Logo URL</label>
            <input
              type="url"
              name="logoURL"
              class="form-control"
              [(ngModel)]="editableSchool.SchoolLogo"
              required>
          </div>
          <div class="form-group">
              <label for="schoolAddress">Address</label>
              <textarea 
                id="schoolAddress" 
                class="form-control" 
                name="SchoolAddress" 
                class="form-control"
                [(ngModel)]="editableSchool.Address">
              </textarea>
            </div>
            <button 
              type="submit"
              class="btn btn-success"
              [disabled]="f.invalid || f.pristine">Submit</button>
            <button 
              type="button"
              class="btn btn-danger"
              (click)="Cancel()">Cancel</button>
        </form>
  </div>
  <div class="col-md-4">
    <img 
      alt="{{ editableSchool.SchoolName }}"
      src="{{ (editableSchool.SchoolLogo) ? editableSchool.SchoolLogo : '../assets/images/no-exception.png' }}" 
      style="max-height: 220px;min-height:220px" />
  </div>
</div>
